pyspark>=3.5.1
delta-spark>=3.2.0
kafka-python>=2.0.2
confluent-kafka>=2.4.0
fastavro>=1.9.4
mlflow>=2.13.0
scikit-learn>=1.4.2
xgboost>=2.0.3
pandas>=2.2.2
pyarrow>=16.0.0
great-expectations>=0.18.19
requests>=2.32.3
python-dotenv>=1.0.1
faker>=25.0.0
loguru>=0.7.2
